:root {
  --h1-color: #a14b00;
  --black-text-color: #000;
  --hover-color: #ac7937;
  --body-font-family: 'Instrument Sans', sans-serif;
  --header-font-family: 'Merriweather', serif;
  --h1-font-weight: bold;
  --h2-font-weight: bold;
  --h1-font-size: 40px;
  --h2-font-size: 20px;
  --body-font-size: 20px;
  --button-background-color: #522f07;
  --button-text-color: #fff;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

.hero {
    background-image: url('images/hero3b.webp');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    width: 100%;    
    max-width: 1440px;
    padding-bottom: 20px;
 }

.navbar {
  top: 30px;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60%;
  z-index: 2;
  box-sizing: border-box;
}

.logo img {
  height: 300px; 
  width: auto;
  display: block;
  transition: transform 0.3s ease;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  gap: 50px;
  margin: 0 auto;
  border-radius: 15px;
}

.nav-links a {
  text-decoration: none;
  color: var(--black-text-color);
  font-weight: var(--h2-font-weight);
  font-size: 20px;
}

.nav-links a:hover {
  color: var(--hover-color);
}

.logo img:hover {
    filter: brightness(1.2);
    transform: translateY(-5px);
}

/*----------------------------------------- body -----------------------------------------*/

.container-home,
.container-about,
.container-food-menu,
.container-drink-menu,
.container-weekly-events {
  max-width: 1440px;
  margin: 0 auto;
}

.container-drink-menu {
  display:flex;
  flex-direction: row;
  gap: 50px;
  max-width: 85vw;
  
  justify-content: center;
}

.container-weekly-events {
  max-width: 85vw;
  align-content: center;
}

.container-weekly-events p {
  text-align: center;      
  font-family: var(--header-font-family);
  color: var(--header-color);
  font-size: var(--body-font-size);
}

.shaded-box {
  background-color: #efefef;
  margin: 0 auto;
  width: 100%;
  padding: 15px;
}

h1 {
  text-align: center;      
  font-family: var(--header-font-family);
  color: var(--header-color);
  font-size: 40px;
}

h2 {
  font-family: var(--body-font-family);
  color: var(--black-text-color);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}

h3 {
  text-align: center;      
  font-family: var(--body-font-family);
  color: var(--black-text-color);
  font-size: 18px;
  padding-bottom: 10px;
}
 
.home {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.about  {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.coffee-drinks,
.other-drinks {
  flex: 1;
  margin:0 auto;
  display:flex;
  flex-direction: column;
}

.coffee-menu {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 200px;
}

.coffee-menu .col-1,
.coffee-menu .col-2,
.other-drinks-menu-main .col-1,
.other-drinks-menu-main .col-2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.other-drinks-menu-main .col-1 .drink-names,
.other-drinks-menu-main .col-2 .drink-names {
  width:max-content;
}

.other-drinks-menu {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.other-drinks-menu-main {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 200px;
}

.teas ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 30px;
  list-style-position: inside;
  padding:0;
}

.teas li {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  color: var(--black-text-color);
  margin:0;
  line-height: 20px;
}

.home img {
  width: 150%;
  left: -25%;
  height: auto;
  display: block;
  position: relative
}

.about img { 
  width: 150%;
  left: -25%;
  height: auto;
  display: block;
  position: relative;
}

.coffee-drinks img {
   height: 46%;
  width: auto;
}

.other-drinks img {
  height: 50%;
  width: auto;
}

.sweet-items,
.savory-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}

.sweet-items img,
.savory-items img {
  width: 329px;
  height: 302px;
  display: block;
  object-fit: cover;
}

.sweet-items p,
.savory-items p {
  text-align: center;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  color: var(--black-text-color);
}

.coffee-menu .col-1 p,
.coffee-menu .col-2 p,
.other-drinks-menu-main .col-1 p,
.other-drinks-menu-main .col-2 p {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  color: var(--black-text-color);
  line-height: 10px;
}

.home-text {
  max-width: 700px;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  color: var(--black-text-color);
  text-align: center;
}

.home-text-review {
  max-width: 900px;
  margin: 0 auto;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  color: var(--black-text-color);
  text-align: left;
  padding: 20px;
}

.about-text {
  padding: 0 0 20px 20px;
  max-width: 900px;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  color: var(--black-text-color);
}

.home-cta {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--button-background-color);
  border-radius: 10px;
}

.home-cta a {
  text-decoration: none;
  color: var(--button-text-color);
  font-weight: bold;
}

/*----------------------------------------- footer -----------------------------------------*/

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  text-align: center;
}

footer p {
  margin: 0.3rem 0;
  font-size: 0.9rem;
}

.socials img {
  width: 40px;
  margin: 0 8px;
  padding-top: 10px;
}

.hamburger {
  display: none;
}

#hamburger-btn {
  display: none;
}

/*----------------------------------------- MOBILE 1300px -----------------------------------------*/

@media (max-width: 1300px) {

  .container-drink-menu {
    flex-wrap: wrap;
  }

  .coffee-drinks img,
  .other-drinks img {
   width: 85vw;
    height: auto;
}

}

/*----------------------------------------- MOBILE 1080px -----------------------------------------*/

@media (max-width: 1080px) {

  .hero {
    position: relative;
  }

  .navbar {
    top: 20px;
    width: 100%;
    padding: 0;
    gap: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    top: 0;
  }

  .logo img {
    height: 200px;
  }

  #hamburger-btn {
  display: none;
  }

}

/*----------------------------------------- MOBILE 800px starts hamburger menu -----------------------------------------*/

@media (max-width: 800px) {
  .hero {
    position: relative;
  }

   .container-about p,
   .container-home p {
    max-width: 785px;
  }

  .container-drink-menu {
    max-width: 85vw;
    justify-content: center;
    box-sizing: border-box;
  }

  .home img {
    width: 90%;
    max-width: 750px;
    height: auto;
    left: 0;
    position: static;
    display: block;
    margin: 0 auto;
  }

  .logo {
    top: 0;
    padding-left: 60px;
  }

  .logo img {
    width: 100%;
  }

  .navbar > nav {
    display: none;
  }

    #hamburger-btn {
    display: block;
    position: absolute;
    top: 100px;
    right: 60px;
    z-index: 1000;
    background-color: #fff;
    border-radius: 5px;
  }

  #hamburger-btn .hamburger {
    display: block;
    cursor: pointer;
    background: #fff;
    border: none;
    border-radius: 8px;
    width: 60px;
    height: 50px;
    padding-bottom: 35px;
  }

  .hamburger-box {
    width: 30px;
    height: 20px;
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: center;
    position: absolute;
  }

  .hamburger-inner {
    display: block;
    position: relative;
    width: 30px;
    height: 3px;
    background-color: var(--black-text-color);
    border-radius: 4px;
    transition: transform 0.15s ease;
  }

  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--black-text-color);
    border-radius: 4px;
    transition: transform 0.15s ease;
    left:0;
  }

  .hamburger.is-active .hamburger-inner::before {
    opacity: 0;
  }

  .hamburger.is-active .hamburger-inner::after {
    bottom: 0;
  }

  #hamburger-btn > nav {
    display: block;
    position: relative;
  }

  #hamburger-btn .nav-links {
    position: fixed;
    top: 200px; 
    display:none;
    left: 0;
    width: 100%;
    max-width: 100%; 
    flex-direction: column;
    gap: 0;
    padding: 20px 0;
    transition: top 0.3s ease; 
    background-color: #fff;
    border-radius: 0;
    margin: 0;
    z-index: 998; 
    list-style: none;
    text-align: center;
    align-items: center;
  }

  #hamburger-btn .nav-links.show {
    top: 200px;
    display: flex;
  }

  #hamburger-btn .nav-links li {
    border-bottom: 1px solid #eee;
    width: 100%;
  }

  #hamburger-btn .nav-links li:last-child {
    border-bottom: none;
  }

  #hamburger-btn .nav-links a {
    font-size: 25px;
    font-weight: var(--h2-font-weight);
    display: block;
    padding: 20px;
    color: var(--black-text-color);
  }

  #hamburger-btn .nav-links a:hover {
    background-color: #f5f5f5;
    color: var(--hover-color);
  }
}
/*----------------------------------------- MOBILE 600px -----------------------------------------*/

@media (max-width: 600px) {

  .container-drink-menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    width: 100%;
    max-width: 100%;
  }

   .container-about p, 
   .container-home p {
    max-width: 585px;
  }

  .coffee-menu,
  .other-drinks-menu-main {
    flex-direction: column;
    align-items: center;
    gap:0px;
  }

  .coffee-menu .col-1,
  .coffee-menu .col-2,
  .other-drinks-menu-main .col-1,
  .other-drinks-menu-main .col-2 {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  .coffee-menu .col-1,
  .other-drinks-menu-main .col-1 {
    padding-top: 20px;
  }

  .coffee-menu .col-2,
  .other-drinks-menu-main .col-2 {
    margin-top: -19px;
  }

  .other-drinks-menu-main .col-2 {
    gap: 55px;
  }

  .coffee-menu img,
  .other-drinks img {
    width: 85vw;
    height: auto;
  }

  .teas ul {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }

  .teas {
    justify-content: center;
    margin: 0 auto;
  }
}

/*----------------------------------------- MOBILE 500px -----------------------------------------*/

@media (max-width: 500px) {
  .hero {
    min-height: 200px;
  }

  .logo {
    top: 0;
    padding: 0;
  }

  .logo img {
    width: 150px;
    height: auto;
  }

   .container-about p,
   .container-home p  {
    max-width: 485px;
  }

}

/*----------------------------------------- MOBILE 475 px -----------------------------------------*/

@media (max-width: 475px) {
  .hero {
    padding-bottom: 75px;
  }

  .container-about p {
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 310px;
  }

  .container-home p {
    max-width: 310px;
  }
  
.container-drink-menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  h1 {
    font-size: 27px;
  }

  .coffee-drinks,
  .other-drinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .coffee-drinks img,
  .other-drinks img,
  .container-about img {
    width: 90%;
    max-width: 320px; 
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .container-food-menu img {
    max-width: 310px;
  }

  .about img {
    width: 90%;
    max-width: 320px;
    height: auto;
    left: 0;
    position: static;
    display: block;
    margin: 0 auto;
  }

  .teas ul li {
    font-size: 16px;
  }
  .logo img {
    width: 150px;
    height: auto;
  }

  .home img {
    width: 90%;
    max-width: 320px;
    height: auto;
    left: 0;
    position: static;
    display: block;
    margin: 0 auto;
  }

  #hamburger-btn {
    right: 10px;
  }
}